@import url('https://fonts.cdnfonts.com/css/gagalin');
/*slogan font-family: 'Gagalin', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/*titles     font-family: "Bree Serif", serif; font-weight: 100;*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/*text     font-family: "Questrial", sans-serif; 24px*/

body{
    background: rgb(255,0,0);
    background: linear-gradient(273deg, rgba(255,0,0,1) 0%, rgba(255,41,41,1) 40%, rgba(255,76,76,1) 74%);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.atras{
    margin-bottom: 30px;
}

.title{
    font-family: "Bree Serif", serif;
    font-size: 50px;
    color: white;
    font-weight: 130;
}
.logo{
    height: 160px;
}
.description{
    font-family: "Questrial", sans-serif;
    font-size: 23px;
    text-align: justify;
    margin: 0px 70px 35px 70px;
}
/*BTN ADD*/
.btnAdd{
    display: flex;
    justify-content: center;
}
.button {
    width: 450px;
    padding: 11px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #FFCF27;
    font-size: 24px;
    transition: all 0.5s ease;
    font-family: "Bree Serif", serif;
    color: white;
  }
  
.button:hover {
    background-color: hsl(16deg 97% 47%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(235 65 3) 0px 0px 18px 0px;
  }
  
.button:active {
    background-color: hsl(16deg 97% 47%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(235 65 3) 0px 0px 18px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  .title-spe{
    font-family: "Bree Serif", serif;
    font-size: 38px;
    font-weight: 100;
    color: white;
    text-align: center;
  }
.container-species{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.specie{
    display: flex;
    flex-direction: row;
    width: 550px;
    height: auto;
    border: solid 5px white;
    padding: 25px;
}
.infoSp{
    display: flex;
    flex-direction: column;
}
.infoSp h1{
    font-family: "Bree Serif", serif;
    font-size: 35px;
    font-weight: 100;
    color: white;
    margin: 0%;
}
.infoSp p{
    font-family: "Questrial", sans-serif;
    font-size: 20px;
    text-align: justify;
    width: 410px;
    margin-left: 15px;
}
/*BTN more*/
.btnMore{
    margin: 0px 20px 0px 0px;
}
.btn {
    padding: 8px 43px 8px 43px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #19B8BF;
    font-size: 20px;
    transition: all 0.5s ease;
    font-family: "Bree Serif", serif;
    color: white;
  }
  
.btn:hover {
    background-color: hsl(16deg 97% 47%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(235 65 3) 0px 0px 18px 0px;
  }
  
.btn:active {
    background-color: hsl(16deg 97% 47%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(235 65 3) 0px 0px 18px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
