@import url('https://fonts.cdnfonts.com/css/gagalin');
/*slogan   font-family: 'Gagalin', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/*titles   font-family: "Bree Serif", serif; font-weight: 100; 34px*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/*text     font-family: "Questrial", sans-serif; 24px*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,176,0);
    background: linear-gradient(0deg, rgba(255,176,0,1) 0%, rgba(255,232,115,1) 74%);
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    z-index: 9999; /* Coloca el encabezado en la capa superior */
}
.containHea{
  display: flex;
  align-items: center;
}

.flecha{  
  margin-left: 25px;
}

.containHea h1{
    font-family: "Bree Serif", serif; 
    font-weight: 100;
    font-size: 45px;
    color: white;
    text-align: center;
    margin-left: 550px;
}

.header hr {
    border: 2px solid white;
}
.form-container {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    z-index: 9999; /* Coloca el formulario en la capa superior */
}

.elements-form{
  display: flex;
  flex-direction: row;
  align-self: center;
}
.first-part, .second-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second-part .date{
  display: flex;
  flex-direction: row;
} 
.inputDate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-date {
  width: 150px;
  height: 30px;
  text-align: center;
  padding: 8px;
  border-radius: 20px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  margin: 15px;
  opacity: 75%;
  font-family: "Questrial", sans-serif;
  font-size: 20px;
}

.input-date:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input-date:active {
  transform: scale(0.95);
}

.input-date {
  border: 2px solid grey;
}

.edad h1{
  text-align: center;
}
h1{
  font-family: "Questrial", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.input {
    width: 380px;
    height: 30px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    margin: 15px;
    opacity: 75%;
    font-family: "Questrial", sans-serif;
    font-size: 20px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }



  .zona {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
.inputZone {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3csvg xmlns%3d%27http%3a//www.w3.org/2000/svg%27 viewBox%3d%270 0 4 5%27%3e%3cpath fill%3d%27%23000%27 d%3d%27M2 0L0 2h4zm0 5L0 3h4z%27/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
    transition: border-color 0.3s ease-in-out;
    font-family: "Questrial", sans-serif;
    font-size: 18px;
}
.inputZone:focus {
    border-color: #007BFF;
    outline: none;
}
.inputZone option {
    padding: 20px;
    text-align: center;
}


  .btnNxt{
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .nextBtn{
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    border: 0;
    background-color: #19B8BF;
    font-size: 20px;
    transition: all 0.5s ease;
    font-family: "Bree Serif", serif;
    color: white;
    width: 130px;
    padding: 13px;
   }

   .nextBtn:hover {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 13px 0px;
  }

.background-image-container {
    margin-top: 120px;
}

.background-image {
    background-size: 100% 100%;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    opacity: 60%;
}
