@import url('https://fonts.cdnfonts.com/css/gagalin');
/* Slogan: font-family: 'Gagalin', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* Titles y botones: font-family: "Bree Serif", serif; font-weight: 100; 34px */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* Text: font-family: "Questrial", sans-serif; 24px */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00c6ff; /* Fondo azul */
}

.wave-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 50vh; /* Ajusta la altura según sea necesario */
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
