@import url('https://fonts.cdnfonts.com/css/gagalin');
/*slogan   font-family: 'Gagalin', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/*titles y botones  font-family: "Bree Serif", serif; font-weight: 100; 34px*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/*text     font-family: "Questrial", sans-serif; 24px*/

body {
  margin: 0;
}
.header {
  position: relative;
  height: 550px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('SiluetaFondo.png');
  background-size: 100% 110%;
  opacity: 0.5;
}

.header {
  background: linear-gradient(to top, rgba(255, 139, 55, 1), rgba(255, 182, 40, 1), rgba(156, 78, 255, 1));
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head img {
  height: 95px;
  margin: 30px 0 0 75px;
}
.button-container {
  position: relative;
}

button {
  border: 0;
  width: 150px;
  height: 40px;
  background-color: rgba(25, 184, 191, 1);
  color: #ffffff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  font-family: "Bree Serif", serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 30px 75px 0 0;
  position: relative; 
}
button:hover {
  background-color: #EB4103;
  box-shadow: 0 0 20px #EB410350;
  transform: scale(1.1);
}
button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
h1{
  position: relative; /* Agrega esta propiedad */
  text-align: center;
  font-family: "Bree Serif", serif; 
  font-weight: 500;
  font-size: 50px;
  color: white;
}

.container {
  display: flex;
  height: 300px;
}

.half-square {
  flex: 1;
}

.content {
  height: 100%;
  padding: 10px;
}

.reptil {
  background: rgb(18, 90, 0);
  background: linear-gradient(262deg, rgba(18, 90, 0, 1) 0%, rgba(132, 174, 27, 1) 75%);
  cursor: pointer;
}

.aquatic {
  background: rgb(0, 85, 130);
  background: linear-gradient(175deg, rgba(0, 85, 130, 1) 0%, rgba(25, 184, 191, 1) 100%);
  cursor: pointer;

}
.reptil h1{
  font-family: "Bree Serif", serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: end;
  margin: 0px 50px;
}
.imgReptil{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.reptil img{
  height: 250px;
  margin: -40px 0px 0px 0px;
}
.aquatic h1{
  font-family: "Bree Serif", serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: start;
  margin: -70px 0px 0px 50px;
  
}
.imgAquatic{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px -20px 0px;
}
.aquatic img{
  height: 245px;
}

.contenedor{
  height: 600px;
  width: 100%;
  display: flex;
}
.land{
  background: rgb(243,117,25);
  background: linear-gradient(144deg, rgba(243,117,25,1) 0%, rgba(255,182,19,1) 100%);
  cursor: pointer;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.land h1{
  font-family: "Bree Serif", serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
}
.imgLand{
  margin: 0px 200px 0px -60px;
}
.land img{
  height: 430px;
}
.box{
  width: 65%;
}

.bird{
  background: rgb(255,0,0);
  background: linear-gradient(262deg, rgba(255,0,0,1) 0%, rgba(255,76,76,1) 75%);
  cursor: pointer;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.bird h1{
  font-family: "Bree Serif", serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
  margin: 140px 0px 180px 400px;
}
.imgBird{
  margin: 0px;
}
.bird img{
  height: 350px;
}
.add{
  background: rgb(255,120,255);
  background: linear-gradient(262deg, rgba(255,120,255,1) 0%, rgba(156,78,255,1) 74%);
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add h1{
  font-family: "Bree Serif", serif;
  font-size: 45px;
  text-align: center;
}
a{
  text-decoration: none;
}

.reptil:hover {
  box-shadow: 0 0 25px 10px rgba(18, 90, 0, 0.7); /* Reducir la opacidad para que la sombra no sea demasiado dominante */
  z-index: 2; /* Asegurar que esté por encima de otros elementos */
}

.aquatic:hover {
  box-shadow: 0 0 20px 10px rgba(0, 85, 130, 0.7);
  z-index: 2;
}

/*
.land:hover {
  box-shadow: 0 0 20px 10px rgba(243, 117, 25, 1);
}

.bird:hover {
  box-shadow: 0 0 15px 3px rgba(255, 0, 0, 1);
}

.add:hover {
  box-shadow: 0 0 15px 10px rgba(255, 120, 255, 1);
}*/