@import url('https://fonts.cdnfonts.com/css/gagalin');
/*slogan font-family: 'Gagalin', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/*titles     font-family: "Bree Serif", serif; font-weight: 100;*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/*text     font-family: "Questrial", sans-serif; 24px*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('index.webp'); /* Ajusta la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6; /* Ajusta la opacidad aquí */
    z-index: -1; /* Coloca la imagen de fondo detrás del contenido */
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    position: relative; /* Importante para el posicionamiento absoluto del formulario */
}

.header a {
    font-size: 25px;
    font-family: "Bree Serif", serif;
    font-weight: 100;
    font-style: normal;
    margin: 25px;
    cursor: pointer;
}

.login {
    text-align: center;
    border: 3px solid white;
    border-radius: 50px;
    width: 170px;
    position: relative; /* Importante para posicionar el formulario respecto al botón */
}

/* LOGIN DESPLEGABLE */
.formulario {
    overflow: hidden;
    max-height: 0; /* Altura máxima inicialmente 0 */
    transition: max-height 1s linear; /* Transición de altura */
    width: 250px;
    border-radius: 30px;
    background-color: hsla(0, 0%, 0%, 0.6); /* Negro con 60% de transparencia */
    text-align: center;
    position: absolute; /* Posicionamiento absoluto */
    top: 78%; /* Ajuste para posicionar debajo del botón LOGIN */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajustar posición horizontal */
}

.mostrando {
    max-height: 500px; /* Altura máxima cuando se muestra */
}


.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.input {
    width: 200px;
    height: 15px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    opacity: 75%;
    font-family: "Questrial", sans-serif;
    font-size: 17px;
}

.input:hover {
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.95);
}

.formulario .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.formulario button {
    padding: 8px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #19B8BF;
    font-size: 17px;
    font-weight: 100;
    transition: all 0.5s ease;
    font-family: "Bree Serif", serif;
    color: white;
}

.formulario button:hover {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 13px 0px;
}


.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text img{
    width: 350px;
}
.slogan{
    font-family: 'Gagalin', sans-serif;
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 8px 8px 11px rgba(0, 0, 0, 0.6); /* Sombra para el texto del encabezado */
    margin: 10px 290px 130px 290px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;

}
.button {
    padding: 8px 60px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #FFCF27;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    font-family: "Bree Serif", serif;
    color: white;
  }
  
.button:hover {
    background-color: hsl(16deg 97% 47%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(235 65 3) 0px 0px 18px 0px;
  }
  
.button:active {
    background-color: hsl(16deg 97% 47%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(235 65 3) 0px 0px 18px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
.LeopardoImg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    z-index: -1; /* Coloca la imagen de fondo detrás del contenido */   
}
.chamaleonImg{
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 35%;
    z-index: -1; /* Coloca la imagen de fondo detrás del contenido */   
}



/* POP UP DE ABOUT US... */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Questrial", sans-serif;
    font-weight: 200;
    font-size: 26px;
    text-align: center;
    color: white;
    width: 65%;
}
.close {
    position: absolute;
    top: -80px;
    right: -10px;
    font-size: 90px;
    cursor: pointer;
}
.contact{
    font-family: "Bree Serif", serif; 
    font-weight: 100;
    font-size: 30px;
}
.contain-us{
    display: flex;
    align-items: center;
    justify-content: center;
}




